:root{
    --lilac: #b594b6ff;
    --space-indigo: #2e2d4dff;
    --turf-green: #337357ff;
    --sage-green: #6d9f71ff;
    --eggshell: #e4e3d3ff;
}

html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--eggshell);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formContainer{
    height: 15em;
    width: 30em;
    padding: 2rem;
    color: var(--eggshell);
    background-color: var(--space-indigo) !important;
}

.dropdown-btn{
    background-color: var(--eggshell);
    border: none;
    color: var(--space-indigo);
}

.forecast-input{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.Tip{
    width: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tipHeader{
    background-color: var(--turf-green);
}

.device-type{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.checks{
    width: 5em;
}

.dashboard-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

#kpiCards .card {
  min-width: 100px;
  flex: 1;
}

.chart-space{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 90%;
}

hr{
    height: 2px;
    width: 80%;
    background-color: var(--lilac);
    margin-top: 20px;
}